.ingredient {
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid rgb(192, 192, 192);
  &__img {
    max-width: 320px;
  }
  &__info {
    text-align: left;
  }
  &__original {
    margin: 0;
    color: #303030;
  }
  &__measure {
    margin: 5px 0;
    font-size: 0.8rem;
    color: #606060;
  }
}
