.settings {
  h2 {
    text-align: left;
  }
  &__measure {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(192, 192, 192);
  }
}

.radio {
  &__button {
    display: block;
    padding: 10px 20px;
    text-align: left;
  }
}
