<div class="settings">
  <div class="settings__measure">
    <ion-text>
      <h2>Units of Measurement:</h2>
    </ion-text>
    <ion-radio-group
      class="radio"
      [value]="selectedMeasure"
      (ionChange)="onMeasureChange($event)"
    >
      <ion-radio
        class="radio__button"
        value="us"
        labelPlacement="end"
        justify="start"
        >US</ion-radio
      >
      <ion-radio
        class="radio__button"
        value="metric"
        labelPlacement="end"
        justify="start"
        >METRIC</ion-radio
      >
    </ion-radio-group>
  </div>
</div>
