<div class="recipe-details">
  <ion-text>
    <h2>Ingredients:</h2>
  </ion-text>
  @for (ingredient of ingredients; track $index) {
  <ingredient [ingredient]="ingredient"></ingredient>
  }
  <div class="recipe-details__instructions"></div>
  <div class="recipe-details__instructions">
    <ion-text color="primary">
      <h2>Instructions:</h2>
    </ion-text>
    <ol class="recipe-details__instructions-list">
      @for (step of steps; track $index) {
      <li>{{ step.step }}</li>
      }
    </ol>
  </div>
  <div class="recipe-details__like">
    <ion-button
      shape="round"
      [color]="isFavorite(id) ? 'danger' : 'primary'"
      (click)="toggleFavorite()"
    >
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-button>
  </div>
</div>
