.recipe-details {
  h2 {
    padding: 0 20px 10px;
    text-align: left;
    color: #303030;
  }
  &__instructions {
    border-bottom: 1px solid rgb(192, 192, 192);
  }
  &__instructions-list {
    text-align: left;
    li {
      margin-bottom: 10px;
    }
  }
  &__like {
    padding: 15px 0;
  }
}
